<%= link_to "小桑例子", root_path, :class => 'brand' %>
<!-- <ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to '退出', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to '登陆', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to '编辑账户', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to '注册', new_user_registration_path %>
    </li>
  <% end %>
</ul> -->


<% if user_signed_in? %>
  Signed in as <strong><%= current_user.name %></strong>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
  <% else %>
    <%= link_to "注册", new_user_registration_path %> or
    <%= link_to "登陆", new_user_session_path %>
      <%= link_to "微博登陆", user_omniauth_authorize_path(:weibo) %>
      <%= link_to "git登陆", user_omniauth_authorize_path(:github) %>
  <% end %>

<hr>