<%= link_to "小桑例子", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to '退出', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to '登陆', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to '编辑账户', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to '注册', new_user_registration_path %>
    </li>
  <% end %>
</ul>
